#yb {
  background-color:#ff9;
}


#greyText {
  text-align: center;
  width:80%;
  vertical-align:middle;
  z-index:-10;
  background-color:#222;
  font-size: 0.7em;
  font-weight: bold;
  color: lightyellow;
  margin: auto;
  border: 5px solid #444;

}
#left80 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:80%;
  vertical-align:middle;
  z-index:-10;
}

#right20 {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  vertical-align:middle;
  width:20%;
}


#left {
  width:50%;
  left:-8.33%;
  text-align: left;
  float: left;
  vertical-align:top;
  z-index:-10;
}

#right {
  width:50%;
  left:31.25%;
  float: right;
  text-align: left;
  z-index:-10;
  vertical-align:top;
}


#left50 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  vertical-align:right;
  z-index:-10;
}


#right50 {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  vertical-align:left;
  width:50%;
}

#full{
  left:40%;
  text-align: left;
  float: left;
  width:100%;
  vertical-align:middle;
  z-index:-10;
}


#drug{
	color: darkgreen;
	font-style:italic;
	text-transform:capitalize;
}

#mem{
	color: grey;
	text-transform:capitalize;
	font-style:italic;
	font-size:0.6em;
}

#twocols{
	column-count: 2;
	text-align: left;
	vertical-align: top;
}

#cite{
	color:  #cb4b16;
	font-size: 1.2em;
	font-weight:600;
	font-style:italic;
}


